@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('/public/Poppins/Poppins-Regular.ttf'), url('/public/Poppins/Poppins-Bold.ttf');
}

body{
  font-family: "Poppins";
  width: 90%;
}

@media (min-width: 1300px) and (max-width: 1928px){
  .searchPokemon {
    display: inline-flex;
      flex-flow: row-reverse nowrap;
      width: 89vw;
      flex-direction: row-reverse;
      height: 35px;
      margin-bottom: 5%;
  }
  .search {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    transition: border-color .2s ease;
    width: 100%;
    text-align: center;
  }
  
  .simplePokemon{
      width: 90%;
      margin-bottom: 7%;
      height: auto;
      border: 1px solid;
      border-radius: 12px;
      display: flex;
      border-color: black;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      text-align: center;
      background-color: white !important;
  }
  .rock{
    background-color: #b69e31;
    border-color: #b69e31;
    color: #b69e31;
  }
  .water{
    background-color: #6493eb;
    border-color: #6493eb;
    color: #6493eb;
  }
  .electric{
    background-color: #f9cf30;
    border-color: #f9cf30;
    color: #f9cf30;
  }
  .psychic{
    background-color: #fb5584;
    border-color: #fb5584;
    color: #fb5584;
  }
  .ghost{
    background-color: #70559b;
    border-color: #70559b;
    color: #70559b;
  }
  .normal{
    background-color: #aaa67f;
    border-color:#aaa67f ;
    color: #aaa67f;
  }
  .fire{
    background-color: #f57d31;
    border-color: #f57d31;
    color: #f57d31;
  }
  .bug{
    background-color: #a7b723;
    border-color: #a7b723;
    color: #a7b723;
  }
  .grass{
    background-color: #74cb48;
    border-color: #74cb48;
    color: #74cb48;
  }
  .steel{
    background-color: #b7b9d0;
    border-color: #b7b9d0;
    color: #b7b9d0;
  }
  .poison{
    background-color: #a43e9e;
    color: #a43e9e
  }
  .flying{
    background-color: #a891ec;
    color: white
  }
  .mainList{
    width: 50vw;
    height: 70vh;
    margin-left: 25%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
  }
  
  .pokeImg{
    width: 60%;
    height: auto;
    background-color: white;
    background-size: 100% 100%;
  }
  .Pokenombre{
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
  }
  .pokeId{
    width: 50%;
    font-size: 12px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    left: 50%;
    background-color: white !important;
  }
  .pokeball{
    height: 40px;
  }
  .title{
      font-size: revert;
      position: relative;
      left: 15%;
  }
  .pokeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 4vh;
  }
  .titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: -10px;
    right: 30px;
  }
  .orderSelector{
    position: relative;
      bottom: -47px;
      right: -30px;
  }
  .backgroundWhite{
    background-color: white !important;
  }
  .lettersWhite{
    color: white !important;
  }
  .pokeDescription{
    background-color: white;
    width: 98%;
    height: 53%;
    margin-left: 1%;
    margin-bottom: -3%;
    margin-top: 2vh;
    border-radius: 2%;
    padding-top: 19%;
    font-size: 1.9vh;
  }
  .pokeAbout, .pokeSummary, .pokeStats{
    color: black;
  }
  .pokeCardOnly{
    font-size: 94%;
    border-radius: 2%;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
  }
  .prueba{
    display: flex;
    flex-direction: column;
  }
  
  .pokeName{
    font-size: x-large;
    font-weight: bold;
    padding-left: 2vh;
    position: relative;
    top: -0.5vh;
   
  }
  
  .arrow{
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
      }
    
  .pokebackground{
      filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%) opacity(10%);
      z-index: 0;
      right: 3%;
      top: 2%;
      position: absolute;
  }
  .imgPokeCard{
    position: absolute;
    z-index: 1;
    left: 18%;
    top: 10%;
    width: 60%;
  }
  .navigate{
    margin-top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    height: 3vh;
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
  }
  .header{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    align-items: center;
  }
  .rotate{
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .bold{
    font-weight: bold;
  }
  .listComponent{
    margin-left: 6%;
    margin-right: 5%;
  }
  .pokeInfo{
    display: flex;
    justify-content: space-around;
  }
  .category{
    display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .typeTitle{
    padding: 2% 4%;
  }
  
  .dobleType1{
    margin-left: 25%;
    border-radius: 30vh;
    padding: 2% 4%;
  }
  .dobleType2{
    margin-left: 5%;
    border-radius: 30vh;
    padding: 2% 4%;
  }
  .types{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30vh;
    padding: 2% 4%;
  }
  .subtitle{
    font-weight: bold;
    margin-left: 42%;
    font-size: 2.5vh;
    position: relative;
    bottom: 1vh;
  }
  .pokeAbout{
    margin-top: 5%;
  }
  
  .subtitle2{
    font-weight: bold;
    margin-left: 35%;
    font-size: 3vh;
  }
  
  .categoryLeft{
      position: relative;
      left: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  
  .categoryRigth{
      position: relative;
      right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  
  .imgCategory{
    height: 3vh;
  }
  .categoryTitle{
    font-size: smaller;
    position: relative;
    right: -15%;
    color: #ADAAAA;
  }
  .spanCategory{
    position: relative;
    right: -15%;
    top: -10%;
  }
  .pokeSummary{
    margin: 5%;
  }
  .pokeType{
    margin-left: 5%;
  }
  .pokeStats{
    margin: 5%;
  
  }
  .statsFlex{
    display: flex;
    width: 70%;
  }
  .stats{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nameAndNumber{
    display: flex;
    width: 22%;
    gap: 4%;
  }
  .stateBar{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 5%;
  }
  .onlyToRight{
   justify-content: flex-end;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
  }
}


@media (max-width: 768px){ 
  .searchPokemon {
    display: inline-flex;
      flex-flow: row-reverse nowrap;
      width: 89vw;
      flex-direction: row-reverse;
      height: 35px;
      margin-bottom: 5%;
  }
  .search {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    transition: border-color .2s ease;
    width: 100%;
    text-align: center;
  }

.simplePokemon{
    width: 90%;
    margin-bottom: 7%;
    height: auto;
    border: 1px solid;
    border-radius: 12px;
    display: flex;
    border-color: black;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: white !important;
}
.Ice{
  background-color: #9ad6df;
  border-color: #9ad6df;
  color: #9ad6df;
}
.Dark{
  background-color: #75574c;
  border-color: #75574c;
  color: #75574c;
}
.Fairy{
  background-color: #e69eac;
  border-color: #e69eac;
  color: #e69eac;
}
.Fighting{
  background-color: #c12239;
  border-color: #c12239;
  color: #c12239;
}
.Ground{
  background-color: #dec169;
  border-color: #dec169;
  color: #dec169;
}
.Dragon{
  background-color: #7037ff;
  border-color: #7037ff;
  color: #7037ff;
}
.Rock{
  background-color: #b69e31;
  border-color: #b69e31;
  color: #b69e31;
}
.Water{
  background-color: #6493eb;
  border-color: #6493eb;
  color: #6493eb;
}
.Electric{
  background-color: #f9cf30;
  border-color: #f9cf30;
  color: #f9cf30;
}
.Psychic{
  background-color: #fb5584;
  border-color: #fb5584;
  color: #fb5584;
}
.Ghost{
  background-color: #70559b;
  border-color: #70559b;
  color: #70559b;
}
.Normal{
  background-color: #aaa67f;
  border-color:#aaa67f ;
  color: #aaa67f;
}
.Fire{
  background-color: #f57d31;
  border-color: #f57d31;
  color: #f57d31;
}
.Bug{
  background-color: #a7b723;
  border-color: #a7b723;
  color: #a7b723;
}
.Grass{
  background-color: #74cb48;
  border-color: #74cb48;
  color: #74cb48;
}
.Steel{
  background-color: #b7b9d0;
  border-color: #b7b9d0;
  color: #b7b9d0;
}
.Poison{
  background-color: #a43e9e;
  border-color: #a43e9e;
  color: #a43e9e
}
.Flying{
  background-color: #a891ec;
  color: white
}
.mainList{
  width: 90vw;
  height: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr 1fr;
  gap:1%;
  margin-left: 0%;
}

.pokeImg{
  width: 60%;
  height: auto;
  background-color: white;
  background-size: 100% 100%;
}
.Pokenombre{
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.pokeId{
  width: 50%;
  font-size: 12px;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  left: 50%;
  background-color: white !important;
}
.pokeball{
  height: 40px;
}
.title{
    font-size: revert;
    position: relative;
    left: 15%;
}
.pokeHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 4vh;
}
.titleContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: -1.5vh;
  right: 13%;
}
.orderSelector{
    position: relative;
    bottom: -47px;
    right: -30px;
    width: 50px !important;
    text-align: end;
}

.orderSelector span{
    position: relative;
    top: -0.5vh;
    right: 1vw;
}
.backgroundWhite{
  background-color: white !important;
}
.lettersWhite{
  color: white !important;
}
.pokeDescription{
  background-color: white;
  width: 98%;
  height: 53%;
  margin-left: 1%;
  margin-bottom: -3%;
  margin-top: 2vh;
  border-radius: 2%;
  padding-top: 19%;
  font-size: 1.7vh;
}
.pokeAbout, .pokeSummary, .pokeStats{
  color: black;
}
.pokeCardOnly{
  font-size: 94%;
  border-radius: 2%;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
.prueba{
  display: flex;
  flex-direction: column;
}
}
.pokeName{
  font-size: x-large;
  font-weight: bold;
  padding-left: 2vh;
  padding-bottom: 2vh;
  position: relative;
  top: -0.5vh;
}

.arrow{
  filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
    }
  
.pokebackground{
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%) opacity(10%);
    z-index: 0;
    right: 3%;
    top: 2%;
    position: absolute;
}
.imgPokeCard{
  position: absolute;
  z-index: 1;
  left: 21%;
  top: 12%;
  width: 60%;
}
.navigate{
  margin-top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  height: 3vh;
  filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.rotate{
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bold{
    font-weight: bold;
    font-size: small;
    position: relative;
    right: 2vh;
    bottom: 0.5vh;
}
.listComponent{
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  margin-right: 5%;
}
.pokeInfo{
    display: flex;
    justify-content: space-around;
    margin-left: 6%;
    margin-right: 6%;
}
.category{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.typeTitle{
  padding: 2% 4%;
}

.types{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30vh;
  padding: 2% 4%;
}

.dobleType1{
  margin-left: 25%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.dobleType2{
  margin-left: 5%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.singleType{
  margin-left: 37%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.subtitle{
  font-weight: bold;
  font-size: 2.5vh;
  position: relative;
  bottom: 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pokeAbout{
  margin-top: 5%;
}

.subtitle2{
  font-weight: bold;
  margin-left: 35%;
  font-size: 3vh;
}

.categoryLeft{
    position: relative;
    left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryRigth{
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgCategory{
  height: 3vh;
}
.categoryTitle{
    font-size: smaller;
    position: relative;
    right: -17%;
    color: #ADAAAA;
    height: 22%;
}
.spanCategory{
  position: relative;
  right: -15%;
  top: -10%;
}
.pokeSummary{
  margin: 5%;
}
.pokeType{
  display: flex;
  justify-content: center;
  margin: 0;
}
.pokeStats{
  margin: 5%;

}
.statsFlex{
  display: flex;
  width: 70%;
}
.stats{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nameAndNumber{
  display: flex;
  width: 22%;
  gap: 25%;
}
.stateBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 17%;
}
.onlyToRight{
 justify-content: flex-end;
}
a:link, a:visited, a:active {
  text-decoration:none;
}

.auth{
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 100vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3vh;
}
.authForm{ 
  display: flex;
  flex-direction: column;
  color: rgba(255, 0, 0, 0.700);
  font-weight: 900;
  gap: 3vh;
  align-items: center;
}
.authHeader{
  display: flex;
  justify-content: space-between;
}
.authHeader div{
  font-size: x-small;
  margin-top: -15px;
}

.authForm > input {
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0.700);
  width: 70vw;
}

.authForm > button {
  width: 30vw;
}
.authImg{
  width: 30vw;
  margin-left: 30vw;
  margin-top: 4.5vw;
}

.button{
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.700);
  font-weight: 900;
}
.buttonLogin{
  position: absolute;
  right: 6vw;
  top: 2vh;
}
.createGeneral{
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3vh;
  height: 95vh;
}
.createForm{
  display: grid;
  font-size: smaller;
  grid-template-areas: 
  'letters'
  'numberss'
  'select';
  grid-template-columns: 1fr;
  grid-template-rows: 30% 40% 20%;
}
.letters{
  grid-area: letters;
  display: flex;
  flex-direction: column;
  height: 32vh;
}
.numbers{
  grid-area: numberss;
  display: grid;
  height: 10vh;
  grid-template-areas:
  'we he' 
  'number1 number2'
  'hp atk'
  'number3 number4'
  'def satk'
  'number5 number6'
  'sdef spd'
  'number7 number8';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 3vh;
}
.number1{
  grid-area: number1;
  width: 42vw;
}
.number2{
  grid-area: number2;
  width: 42vw;
}
.number3{
  grid-area: number3;
  width: 42vw;
}
.number4{
  grid-area: number4;
  width: 42vw;
}
.number5{
  grid-area: number5;
  width: 42vw;
}
.number6{
  grid-area: number6;
  width: 42vw;
}
.number7{
  grid-area: number7;
  width: 42vw;
}
.number8{
  grid-area: number8;
  width: 42vw;
}
.select{
  grid-area: select;
  width: 90vw;
  height: 12vh;
  margin-top: 12px;
  display: grid;
  grid-template-areas: 
  'selectT selectM';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.selectT{
  grid-area: selectT;
  width: 44vw;
}
.selectM{
  grid-area: selectM;
  width: 44vw;
}
.multiselectContainer {
  border-radius: 30px;
}
.multiselectContainer > .chip{
  background-color: red;
}
.searchBox { /*// To change search box element look*/
  border: none;
  font-size: 10px;
  max-height: 10px;
}
.inputField{ /*// To change input field position or margin*/
    margin: 5px;
}
.chip {
  align-items: center;
  background: red !important;
  border-radius: 11px;
  color: #fff;
  display: inline-flex;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 4px 10px;
}
.optionContainer { /*// To change css for option container */
  border: 10px solid;
}
.option { /*// To change css for dropdown options*/
  color: rgba(255, 0, 0, 0.700);
}

.buttonCreate{
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.700);
  font-weight: 900;
  margin-top: 8vh;
}
.createForm input{
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0.700);
}
.createForm textarea{
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0.700);
  height: 7vh;
  border-width: 2px;
}
.create{
  width: 90%;
  margin-bottom: 7%;
  height: auto;
  border: 1px solid;
  border-radius: 12px;
  display: flex;
  border-color: black;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: white !important;
}
.spanCreate{
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  background-color: rgba(255, 0, 0, 0.700);
}
.pokeIdCreate{
  color: black;
  width: 50%;
  font-size: 12px;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  left: 50%;
  background-color: white !important;
}
.imgCreate{
  width: 30vw;
  margin-left: 30vw;
  margin-top: -2.5vw;
}
.groupHeading{
  color: rebeccapurple;
  background-color: #74cb48;
}
.singleChip {
  white-space: nowrap;
  background-color: red; 
}
.buttonsNavbar{
  width: 89vw;
  height: 3vh;
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 2vh;
}
.compare{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: rgba(255, 0, 0, 0.700);
}

.selection > div{
  width: 40%;
}
.selectPokemon{
  width: 90%;
  height: 4vh;
  font-weight: bolder;
  border-radius: 2vh;
  border-color: rgba(255, 0, 0, 0.700);
  justify-self: center;
}
.error{
  margin-left: 10%;
}
.comparePokemon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 85%;
  height: 80%;
  position: relative;
  margin: 2vh 2vh 0vh 2vh;
  background-color: white;
  border-radius: 2vh;
}
.pokemons1{
  display: grid;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-areas:
  'img'
  'typesText'
  'types'
  'statsText'
  'stats';
  grid-template-columns: 1fr;
  grid-template-rows: 30% 10% 10% 10% 40%;
}
.firstSelect{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  height: 100%;
  width: 100%;
 justify-items: center;
 align-content: space-around;
}
.secondSelect{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  height: 100%;
  width: 100%;
 justify-items: center;
 align-content: space-around;
}
.imgCompare1{
  height: 16vh;
  display: grid;
  grid-area: img;
  position: absolute;
  justify-self: center;
  align-self: center;
}
.spanTypes1{
  display: grid;
  grid-area: typesText;
  justify-self: center;
  align-content: center;
}
.pokeType1{
  display: flex;
  grid-area: types;
  justify-self: center;
  width: 100%;
  height: 70%;
  text-align: center;
  justify-content: center;
}
.pokeStats1{
  display: grid;
  grid-area: statsText;
  align-content: center;
  justify-items: center;
  align-self: center;
}
.nameAndNumber1{
  display: grid;
  grid-area: stats;
  align-content: space-around;
  margin-left: 6vh;
  margin-bottom: 6vh;
}
.pokemons2{
  display: grid;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-areas:
  'img2'
  'typesText2'
  'types2'
  'statsText2'
  'stats2';
  grid-template-columns: 1fr;
  grid-template-rows: 30% 10% 10% 10% 40%;
}
.imgCompare2{
  height: 16vh;
  display: grid;
  grid-area: img2;
  position: absolute;
  justify-self: center;
  align-self: center;
}
.spanTypes2{
  display: grid;
  grid-area: typesText2;
  justify-self: center;
  align-content: center;
}
.pokeType2{
  display: flex;
  grid-area: types2;
  justify-self: center;
  width: 100%;
  height: 70%;
  text-align: center;
  justify-content: center;
}
.pokeStats2{
  display: grid;
  grid-area: statsText2;
  align-content: center;
  justify-items: center;
  align-self: center;
}
.nameAndNumber2{
  display: grid;
  grid-area: stats2;
  align-content: space-around;
  margin-left: 6vh;
  margin-bottom: 6vh;
}
.compareHeader{
  display: flex;
  justify-content: space-between;
  margin: 2vh 2vh 0vh 2vh;
}
.compareHeader div{
  font-size: x-small;
  margin-top: -15px;
}
.noSelected{
  position: relative;
  top: 17vh;
  left: 14vh;
  text-align: center;
}
.loadingImg{
  height: 5vh;
  margin-top: 30vh;
  margin-left: 10vh;
}
.loadingImgSecond{
  position: relative;
  height: 5vh;
  top: 30vh;
  left: 35vh;

}
.loadingGeneral{
    position: relative;
    height: 10vh;
    top: 43vh;
    left: 23.5vh;
}
.createMessage{
  display: flex;
  margin-top: 9vh;
  align-self: center;
}






