@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('/public/Poppins/Poppins-Regular.ttf'), url('/public/Poppins/Poppins-Bold.ttf');
}

body{
  font-family: "Poppins";
  width: 90%;
}
@media (max-width: 768px){ 
#search-wrapper {
  display: inline-flex;
    flex-flow: row-reverse nowrap;
    width: 89vw;
    flex-direction: row-reverse;
    height: 35px;
    margin-bottom: 5%;
}
#search-wrapper #search {
  border: 1px solid #ccc;
  border-radius: 10px 10px 10px 10px;
  color: #444;
  padding: .6rem .5rem;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: lighter;
  transition: border-color .2s ease;
  width: 100%;
  text-align: center;
}
#search-wrapper #search + i {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  color: #777;
  padding: .67rem .65rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}
#search-wrapper #search:focus {
  border-color: #999;
  outline: none;
}
#search-wrapper #search:focus + i {
  border-color: #999;
}

.simplePokemon{
    width: 90%;
    margin-bottom: 7%;
    height: auto;
    border: 1px solid;
    border-radius: 12px;
    display: flex;
    border-color: black;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: white !important;
}
.water{
  background-color: #6493eb;
  border-color: #6493eb;
  color: #6493eb;
}
.electric{
  background-color: #f9cf30;
  border-color: #f9cf30;
  color: #f9cf30;
}
.psychic{
  background-color: #fb5584;
  border-color: #fb5584;
  color: #fb5584;
}
.ghost{
  background-color: #70559b;
  border-color: #70559b;
  color: #70559b;
}
.normal{
  background-color: #aaa67f;
  border-color:#aaa67f ;
  color: #aaa67f;
}
.fire{
  background-color: #f57d31;
  border-color: #f57d31;
  color: #f57d31;
}
.bug{
  background-color: #a7b723;
  border-color: #a7b723;
  color: #a7b723;
}
.grass{
  background-color: #74cb48;
  border-color: #74cb48;
  color: #74cb48;
}
.steel{
  background-color: #b7b9d0;
  border-color: #b7b9d0;
  color: #b7b9d0;
}
.poison{
  background-color: #a43e9e;
  color: white
}
.flying{
  background-color: #a891ec;
  color: white
}
.mainList{
  width: 90vw;
  height: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr 1fr;
  gap:1%;
}

.pokeImg{
  width: 60%;
  height: auto;
  background-color: white;
  background-size: 100% 100%;
}
.Pokenombre{
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.pokeId{
  width: 50%;
  font-size: 12px;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  left: 50%;
  background-color: white !important;
}
.pokeball{
  height: 40px;
}
.title{
    font-size: revert;
    position: relative;
    left: 15%;
}
.pokeHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.titleContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: -10px;
  right: 30px;
}
.orderSelector{
  position: relative;
    bottom: -47px;
    right: -30px;
}
.backgroundWhite{
  background-color: white !important;
}
.lettersWhite{
  color: white !important;
}
.pokeDescription{
  background-color: white;
  width: 98%;
  height: 97%;
  margin-left: 1%;
  margin-bottom: -3%;
  margin-top: 2vh;
  border-radius: 3%;
  font-size: 80%;
  padding-top: 19%;
  font-size: 2vh;
}
.pokeAbout, .pokeSummary, .pokeStats{
  color: black;
}
.pokeCardOnly{
  border-radius: 2%;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
.prueba{
  display: flex;
  flex-direction: column;
}
}
.pokeName{
  font-size: x-large;
  font-weight: bold;
  padding-left: 2vh;
}

.arrow{
  filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
    }
  
.pokebackground{
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%) opacity(10%);
    z-index: 0;
    right: 6%;
    top: 2%;
    position: absolute;
}
.imgPokeCard{
  position: absolute;
  z-index: 1;
  left: 18%;
  top: 10%;
  width: 60%;
}
.navigate{
  margin-top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  height: 3vh;
  filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
}
.header{
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  padding-top: 5%;
  justify-content: space-between;
  align-items: center;
}
.rotate{
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bold{
  font-weight: bold;
}
.listComponent{
  margin-left: 5%;
  margin-right: 5%;
}
.pokeInfo{
  display: flex;
  justify-content: space-around;
}
.category{
  display: flex;
  flex-direction: column;
}
.typeTitle{
  padding: 2% 4%;
}

.dobleType1{
  margin-left: 25%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.dobleType2{
  margin-left: 5%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.singleType{
  margin-left: 42%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.textAbout{
  font-weight: bold;
  margin-left: 40%;
  font-size: 3vh;
}
.pokeAbout{
  margin-top: 5%;
}