@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('/public/Poppins/Poppins-Regular.ttf'), url('/public/Poppins/Poppins-Bold.ttf');
}

body{
  font-family: "Poppins";
}

