@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('/public/Poppins/Poppins-Regular.ttf'), url('/public/Poppins/Poppins-Bold.ttf');
}

body{
  font-family: "Poppins";
  width: 90%;
}

@media (min-width: 1300px) and (max-width: 1928px){
  .searchPokemon {
    display: inline-flex;
      flex-flow: row-reverse nowrap;
      width: 89vw;
      flex-direction: row-reverse;
      height: 35px;
      margin-bottom: 5%;
  }
  .search {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    transition: border-color .2s ease;
    width: 100%;
    text-align: center;
  }
  
  .simplePokemon{
      width: 90%;
      margin-bottom: 7%;
      height: auto;
      border: 1px solid;
      border-radius: 12px;
      display: flex;
      border-color: black;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      text-align: center;
      background-color: white !important;
  }
  .rock{
    background-color: #b69e31;
    border-color: #b69e31;
    color: #b69e31;
  }
  .water{
    background-color: #6493eb;
    border-color: #6493eb;
    color: #6493eb;
  }
  .electric{
    background-color: #f9cf30;
    border-color: #f9cf30;
    color: #f9cf30;
  }
  .psychic{
    background-color: #fb5584;
    border-color: #fb5584;
    color: #fb5584;
  }
  .ghost{
    background-color: #70559b;
    border-color: #70559b;
    color: #70559b;
  }
  .normal{
    background-color: #aaa67f;
    border-color:#aaa67f ;
    color: #aaa67f;
  }
  .fire{
    background-color: #f57d31;
    border-color: #f57d31;
    color: #f57d31;
  }
  .bug{
    background-color: #a7b723;
    border-color: #a7b723;
    color: #a7b723;
  }
  .grass{
    background-color: #74cb48;
    border-color: #74cb48;
    color: #74cb48;
  }
  .steel{
    background-color: #b7b9d0;
    border-color: #b7b9d0;
    color: #b7b9d0;
  }
  .poison{
    background-color: #a43e9e;
    color: white
  }
  .flying{
    background-color: #a891ec;
    color: white
  }
  .mainList{
    width: 50vw;
    height: 70vh;
    margin-left: 25%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
  }
  
  .pokeImg{
    width: 60%;
    height: auto;
    background-color: white;
    background-size: 100% 100%;
  }
  .Pokenombre{
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
  }
  .pokeId{
    width: 50%;
    font-size: 12px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    left: 50%;
    background-color: white !important;
  }
  .pokeball{
    height: 40px;
  }
  .title{
      font-size: revert;
      position: relative;
      left: 15%;
  }
  .pokeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 4vh;
  }
  .titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: -10px;
    right: 30px;
  }
  .orderSelector{
    position: relative;
      bottom: -47px;
      right: -30px;
  }
  .backgroundWhite{
    background-color: white !important;
  }
  .lettersWhite{
    color: white !important;
  }
  .pokeDescription{
    background-color: white;
    width: 98%;
    height: 53%;
    margin-left: 1%;
    margin-bottom: -3%;
    margin-top: 2vh;
    border-radius: 2%;
    padding-top: 19%;
    font-size: 1.9vh;
  }
  .pokeAbout, .pokeSummary, .pokeStats{
    color: black;
  }
  .pokeCardOnly{
    font-size: 94%;
    border-radius: 2%;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
  }
  .prueba{
    display: flex;
    flex-direction: column;
  }
  
  .pokeName{
    font-size: x-large;
    font-weight: bold;
    padding-left: 2vh;
  }
  
  .arrow{
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
      }
    
  .pokebackground{
      filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%) opacity(10%);
      z-index: 0;
      right: 3%;
      top: 2%;
      position: absolute;
  }
  .imgPokeCard{
    position: absolute;
    z-index: 1;
    left: 18%;
    top: 10%;
    width: 60%;
  }
  .navigate{
    margin-top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    height: 3vh;
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
  }
  .header{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    align-items: center;
  }
  .rotate{
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .bold{
    font-weight: bold;
  }
  .listComponent{
    margin-left: 6%;
    margin-right: 5%;
  }
  .pokeInfo{
    display: flex;
    justify-content: space-around;
  }
  .category{
    display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .typeTitle{
    padding: 2% 4%;
  }
  
  .dobleType1{
    margin-left: 25%;
    border-radius: 30vh;
    padding: 2% 4%;
  }
  .dobleType2{
    margin-left: 5%;
    border-radius: 30vh;
    padding: 2% 4%;
  }
  .types{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30vh;
    padding: 2% 4%;
  }
  .subtitle{
    font-weight: bold;
    margin-left: 42%;
    font-size: 2.5vh;
    position: relative;
    bottom: 1vh;
  }
  .pokeAbout{
    margin-top: 5%;
  }
  
  .subtitle2{
    font-weight: bold;
    margin-left: 35%;
    font-size: 3vh;
  }
  
  .categoryLeft{
      position: relative;
      left: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  
  .categoryRigth{
      position: relative;
      right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  
  .imgCategory{
    height: 3vh;
  }
  .categoryTitle{
    font-size: smaller;
    position: relative;
    right: -15%;
    color: #ADAAAA;
  }
  .spanCategory{
    position: relative;
    right: -15%;
    top: -10%;
  }
  .pokeSummary{
    margin: 5%;
  }
  .pokeType{
    margin-left: 5%;
  }
  .pokeStats{
    margin: 5%;
  
  }
  .statsFlex{
    display: flex;
    width: 70%;
  }
  .stats{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nameAndNumber{
    display: flex;
    width: 22%;
    gap: 4%;
  }
  .stateBar{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 5%;
  }
  .onlyToRight{
   justify-content: flex-end;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
  }
}


@media (max-width: 768px){ 
  .searchPokemon {
    display: inline-flex;
      flex-flow: row-reverse nowrap;
      width: 89vw;
      flex-direction: row-reverse;
      height: 35px;
      margin-bottom: 5%;
  }
  .search {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    transition: border-color .2s ease;
    width: 100%;
    text-align: center;
  }

.simplePokemon{
    width: 90%;
    margin-bottom: 7%;
    height: auto;
    border: 1px solid;
    border-radius: 12px;
    display: flex;
    border-color: black;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: white !important;
}
.Rock{
  background-color: #b69e31;
  border-color: #b69e31;
  color: #b69e31;
}
.Water{
  background-color: #6493eb;
  border-color: #6493eb;
  color: #6493eb;
}
.Electric{
  background-color: #f9cf30;
  border-color: #f9cf30;
  color: #f9cf30;
}
.Psychic{
  background-color: #fb5584;
  border-color: #fb5584;
  color: #fb5584;
}
.Ghost{
  background-color: #70559b;
  border-color: #70559b;
  color: #70559b;
}
.Normal{
  background-color: #aaa67f;
  border-color:#aaa67f ;
  color: #aaa67f;
}
.Fire{
  background-color: #f57d31;
  border-color: #f57d31;
  color: #f57d31;
}
.Bug{
  background-color: #a7b723;
  border-color: #a7b723;
  color: #a7b723;
}
.Grass{
  background-color: #74cb48;
  border-color: #74cb48;
  color: #74cb48;
}
.Steel{
  background-color: #b7b9d0;
  border-color: #b7b9d0;
  color: #b7b9d0;
}
.Poison{
  background-color: #a43e9e;
  color: white
}
.Flying{
  background-color: #a891ec;
  color: white
}
.mainList{
  width: 90vw;
  height: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr 1fr;
  gap:1%;
  margin-left: 0%;
}

.pokeImg{
  width: 60%;
  height: auto;
  background-color: white;
  background-size: 100% 100%;
}
.Pokenombre{
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.pokeId{
  width: 50%;
  font-size: 12px;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  left: 50%;
  background-color: white !important;
}
.pokeball{
  height: 40px;
}
.title{
    font-size: revert;
    position: relative;
    left: 15%;
}
.pokeHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 4vh;
}
.titleContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: -10px;
  right: 30px;
}
.orderSelector{
  position: relative;
    bottom: -47px;
    right: -30px;
}
.backgroundWhite{
  background-color: white !important;
}
.lettersWhite{
  color: white !important;
}
.pokeDescription{
  background-color: white;
  width: 98%;
  height: 53%;
  margin-left: 1%;
  margin-bottom: -3%;
  margin-top: 2vh;
  border-radius: 2%;
  padding-top: 19%;
  font-size: 1.7vh;
}
.pokeAbout, .pokeSummary, .pokeStats{
  color: black;
}
.pokeCardOnly{
  font-size: 94%;
  border-radius: 2%;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
.prueba{
  display: flex;
  flex-direction: column;
}
}
.pokeName{
  font-size: x-large;
  font-weight: bold;
  padding-left: 2vh;
  padding-bottom: 2vh;
}

.arrow{
  filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
    }
  
.pokebackground{
    filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%) opacity(10%);
    z-index: 0;
    right: 3%;
    top: 2%;
    position: absolute;
}
.imgPokeCard{
  position: absolute;
  z-index: 1;
  left: 21%;
  top: 12%;
  width: 60%;
}
.navigate{
  margin-top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  height: 3vh;
  filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.rotate{
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bold{
  font-weight: bold;
}
.listComponent{
  margin-left: 6%;
  margin-right: 5%;
}
.pokeInfo{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}
.category{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.typeTitle{
  padding: 2% 4%;
}

.types{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30vh;
  padding: 2% 4%;
}

.dobleType1{
  margin-left: 25%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.dobleType2{
  margin-left: 5%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.singleType{
  margin-left: 37%;
  border-radius: 30vh;
  padding: 2% 4%;
}
.subtitle{
  font-weight: bold;
  font-size: 2.5vh;
  position: relative;
  bottom: 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pokeAbout{
  margin-top: 5%;
}

.subtitle2{
  font-weight: bold;
  margin-left: 35%;
  font-size: 3vh;
}

.categoryLeft{
    position: relative;
    left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryRigth{
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgCategory{
  height: 3vh;
}
.categoryTitle{
    font-size: smaller;
    position: relative;
    right: -17%;
    color: #ADAAAA;
    height: 10%;
}
.spanCategory{
  position: relative;
  right: -15%;
  top: -10%;
}
.pokeSummary{
  margin: 5%;
}
.pokeType{
  display: flex;
  justify-content: center;
  margin: 0;
}
.pokeStats{
  margin: 5%;

}
.statsFlex{
  display: flex;
  width: 70%;
}
.stats{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nameAndNumber{
  display: flex;
  width: 22%;
  gap: 4%;
}
.stateBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}
.onlyToRight{
 justify-content: flex-end;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
